@(title: String, section: views.Section = views.Section.Home)(content: Html)(implicit request: Request[AnyContent])

<html>
  <head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("main.css")">
    <script   src="http://code.jquery.com/jquery-3.1.1.slim.min.js"   integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand" href="@routes.HomeController.index()"><img src="@routes.Assets.versioned("img/vitisoft.png")" alt="Vitisoft"/></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li @if(section == views.Section.Plots) { class="active" }>
              <a href="@routes.PlotController.plots()">Parcelles</a>
            </li>
            <li @if(section == views.Section.Audits) { class="active" }>
              <a href="#">Audits</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right user-info">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Joseph Grandon <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Se déconnecter</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      @content
    </div>
  </body>
</html>
